body,
html {
  position: relative;
}

.scroll-download {
  background: rgba(0, 0, 0, 0.80);
  width: 640px;
  height: 120px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.scroll-item {
  display: flex;
  align-items: center;
}

.scroll-dw-closebtn {
  width: 48px;
  height: 48px;
  margin-left: 10px;
  background: url('../../../commons/images/sprite-figure.png');
  background-position: 210px 0;
  background-size: 500px 545px;
}

.scroll-dw-logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  background: url('../../../commons/images/sprite-figure.png');
  background-position: 250px 488px;
  background-size: 500px 545px;
}

.scroll-dw-txt {
  width: 260px;
  height: 80px;
  margin-left: 20px;
}

.scroll-dw-txt-title {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  color: #ffffff;
  text-align: justify;
}

.scroll-dw-txt-con {
  height: 40px;
  line-height: 40px;
  opacity: 0.5;
  font-size: 24px;
  color: #ffffff;
  text-align: justify;
}

.scroll-dw-btn {
  background: #ff7e00;
  border-radius: 100px;
  width: 160px;
  height: 68px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  line-height: 68px;
  margin-right: 20px;
  display: block;
}