.jltop-bar {
  width: 640px;
  height: 88px;
  background: #fff;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}
.jlplay-jc{
  /*display: inline-block;*/
  line-height: 45px;
  margin-left: -150px;
}
.jltop-bar-logo {
  width: 70px;
  height: 70px;
  background: url('../images/juli-logo.png') no-repeat;
  background-size: contain;
  z-index: 1;
  display: block;
  margin:15px 20px;
}
.jl-font{
  line-height: 45px;
  font-size: 32px;
  color: #303030;
  display: block;
}
.jl-wcjc{
  line-height: 30px;
  font-size: 22px;
  color: #999999;
  display: block;
}
.jltop-bar-user {
  width: 150px;
  height: 56px;
  margin-right: 10px;
  display: block;
  overflow: hidden;
  line-height: 56px;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  border-radius:4px;
  background: #FD4440;
}

.jltop-bar-user img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: block;
}