
/* created by Kaka at 2017/08/31. */

$cubicEase = cubic-bezier(.22, .58, .12, .98)

.lz-forwards
  animation-fill-mode: forwards

@keyframes move-in-left
  from
    opacity: 0
    transform: translate(5em, 0)
  to
    opacity: 1
    transform: translate(0, 0)

.lz-move-in-left
  animation: move-in-left $cubicEase .4s

@keyframes move-in-right
  from
    opacity: 0
    transform: translate(-5em, 0)
  to
    opacity: 1
    transform: translate(0, 0)

.lz-move-in-right
  animation: move-in-right $cubicEase .4s

@keyframes move-in-bottom
  from
    opacity: 0
    transform: translate(0, 5em)

  to
    opacity: 1
    transform: translate(0, 0)

.lz-move-in-bottom
  animation: move-in-bottom $cubicEase .4s

@keyframes move-in-top
  from
    opacity: 0
    transform: translate(0, -5em)

  to
    opacity: 1
    transform: translate(0, 0)

.lz-move-in-top
  animation: move-in-top $cubicEase .4s

@keyframes move-out-top
  from
    transform: translate(0, 0)
    opacity: 1
  to
    transform: translate(0, -5em)
    opacity: 0

.lz-move-out-top
  animation: move-out-top $cubicEase .4s

@keyframes splashing
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

.lz-splashing
  animation: splashing ease 3s infinite


@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

.lz-fade-in
  animation: fade-in linear .4s

@keyframes fade-out
  from
    opacity: 1
  to
    opacity: 0

.lz-fade-out
  animation: fade-out linear .4s

.fade-leave
  animation: fade-out linear .2s forwards

@keyframes scale-out
  from
    opacity: 1
    transform: scale(1)

  to
    opacity: 0
    transform: scale(.8)

.lz-scale-out
  animation: scale-out $cubicEase .4s

@keyframes scale-out-ease
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

.lz-scale-out-ease
  animation: scale-out-ease $cubicEase .4s
