.user-lv {
  display: inline-block;
  background: url(http://r.plures.net/pt/images/common/ic_user_lv1-90.png);
  width: 36px;
  height: 16px;
  background-size: 400px 180px;
}

.user-lv-1 {
  background-position: 0 0;
}

.user-lv-2 {
  background-position: -40px 0;
}

.user-lv-3 {
  background-position: -80px 0;
}

.user-lv-4 {
  background-position: -120px 0;
}

.user-lv-5 {
  background-position: -160px 0;
}

.user-lv-6 {
  background-position: -200px 0;
}

.user-lv-7 {
  background-position: -240px 0;
}

.user-lv-8 {
  background-position: -280px 0;
}

.user-lv-9 {
  background-position: -320px 0;
}

.user-lv-10 {
  background-position: -360px 0;
}

.user-lv-11 {
  background-position: 0 -20px;
}

.user-lv-12 {
  background-position: -40px -20px;
}

.user-lv-13 {
  background-position: -80px -20px;
}

.user-lv-14 {
  background-position: -120px -20px;
}

.user-lv-15 {
  background-position: -160px -20px;
}

.user-lv-16 {
  background-position: -200px -20px;
}

.user-lv-17 {
  background-position: -240px -20px;
}

.user-lv-18 {
  background-position: -280px -20px;
}

.user-lv-19 {
  background-position: -320px -20px;
}

.user-lv-20 {
  background-position: -360px -20px;
}

.user-lv-21 {
  background-position: 0 -40px;
}

.user-lv-22 {
  background-position: -40px -40px;
}

.user-lv-23 {
  background-position: -80px -40px;
}

.user-lv-24 {
  background-position: -120px -40px;
}

.user-lv-25 {
  background-position: -160px -40px;
}

.user-lv-26 {
  background-position: -200px -40px;
}

.user-lv-27 {
  background-position: -240px -40px;
}

.user-lv-28 {
  background-position: -280px -40px;
}

.user-lv-29 {
  background-position: -320px -40px;
}

.user-lv-30 {
  background-position: -360px -40px;
}

.user-lv-31 {
  background-position: 0 -60px;
}

.user-lv-32 {
  background-position: -40px -60px;
}

.user-lv-33 {
  background-position: -80px -60px;
}

.user-lv-34 {
  background-position: -120px -60px;
}

.user-lv-35 {
  background-position: -160px -60px;
}

.user-lv-36 {
  background-position: -200px -60px;
}

.user-lv-37 {
  background-position: -240px -60px;
}

.user-lv-38 {
  background-position: -280px -60px;
}

.user-lv-39 {
  background-position: -320px -60px;
}

.user-lv-40 {
  background-position: -360px -60px;
}

.user-lv-41 {
  background-position: 0 -80px;
}

.user-lv-42 {
  background-position: -40px -80px;
}

.user-lv-43 {
  background-position: -80px -80px;
}

.user-lv-44 {
  background-position: -120px -80px;
}

.user-lv-45 {
  background-position: -160px -80px;
}

.user-lv-46 {
  background-position: -200px -80px;
}

.user-lv-47 {
  background-position: -240px -80px;
}

.user-lv-48 {
  background-position: -280px -80px;
}

.user-lv-49 {
  background-position: -320px -80px;
}

.user-lv-50 {
  background-position: -360px -80px;
}

.user-lv-51 {
  background-position: 0 -100px;
}

.user-lv-52 {
  background-position: -40px -100px;
}

.user-lv-53 {
  background-position: -80px -100px;
}

.user-lv-54 {
  background-position: -120px -100px;
}

.user-lv-55 {
  background-position: -160px -100px;
}

.user-lv-56 {
  background-position: -200px -100px;
}

.user-lv-57 {
  background-position: -240px -100px;
}

.user-lv-58 {
  background-position: -280px -100px;
}

.user-lv-59 {
  background-position: -320px -100px;
}

.user-lv-60 {
  background-position: -360px -100px;
}

.user-lv-61 {
  background-position: 0 -120px;
}

.user-lv-62 {
  background-position: -40px -120px;
}

.user-lv-63 {
  background-position: -80px -120px;
}

.user-lv-64 {
  background-position: -120px -120px;
}

.user-lv-65 {
  background-position: -160px -120px;
}

.user-lv-66 {
  background-position: -200px -120px;
}

.user-lv-67 {
  background-position: -240px -120px;
}

.user-lv-68 {
  background-position: -280px -120px;
}

.user-lv-69 {
  background-position: -320px -120px;
}

.user-lv-70 {
  background-position: -360px -120px;
}

.user-lv-71 {
  background-position: 0 -140px;
}

.user-lv-72 {
  background-position: -40px -140px;
}

.user-lv-73 {
  background-position: -80px -140px;
}

.user-lv-74 {
  background-position: -120px -140px;
}

.user-lv-75 {
  background-position: -160px -140px;
}

.user-lv-76 {
  background-position: -200px -140px;
}

.user-lv-77 {
  background-position: -240px -140px;
}

.user-lv-78 {
  background-position: -280px -140px;
}

.user-lv-79 {
  background-position: -320px -140px;
}

.user-lv-80 {
  background-position: -360px -140px;
}

.user-lv-81 {
  background-position: 0 -160px;
}

.user-lv-82 {
  background-position: -40px -160px;
}

.user-lv-83 {
  background-position: -80px -160px;
}

.user-lv-84 {
  background-position: -120px -160px;
}

.user-lv-85 {
  background-position: -160px -160px;
}

.user-lv-86 {
  background-position: -200px -160px;
}

.user-lv-87 {
  background-position: -240px -160px;
}

.user-lv-88 {
  background-position: -280px -160px;
}

.user-lv-89 {
  background-position: -320px -160px;
}

.user-lv-90 {
  background: url(http://r.plures.net/pt/images/common/lv90.gif);
}

.user-lv-91 {
  background: url(http://r.plures.net/pt/images/common/lv91.gif);
}

.user-lv-92 {
  background: url(http://r.plures.net/pt/images/common/lv92.gif);
}

.user-lv-93 {
  background: url(http://r.plures.net/pt/images/common/lv93.gif);
}

.user-lv-94 {
  background: url(http://r.plures.net/pt/images/common/lv94.gif);
}

.user-lv-95 {
  background: url(http://r.plures.net/pt/images/common/lv95.gif);
}

.user-lv-96 {
  background: url(http://r.plures.net/pt/images/common/lv96.gif);
}

.user-lv-97 {
  background: url(http://r.plures.net/pt/images/common/lv97.gif);
}

.user-lv-98 {
  background: url(http://r.plures.net/pt/images/common/lv98.gif);
}

.user-lv-99 {
  background: url(http://r.plures.net/pt/images/common/lv99.gif);
}

.user-lv-100 {
  background: url(http://r.plures.net/pt/images/common/lv100.gif);
}

.user-lv-101 {
  background: url(http://r.plures.net/pt/images/common/lv101.gif);
}

.user-lv-102 {
  background: url(http://r.plures.net/pt/images/common/lv102.gif);
}

.user-lv-103 {
  background: url(http://r.plures.net/pt/images/common/lv103.gif);
}

.user-lv-104 {
  background: url(http://r.plures.net/pt/images/common/lv104.gif);
}

.user-lv-105 {
  background: url(http://r.plures.net/pt/images/common/lv105.gif);
}

.user-lv-106 {
  background: url(http://r.plures.net/pt/images/common/lv106.gif);
}

.user-lv-107 {
  background: url(http://r.plures.net/pt/images/common/lv107.gif);
}

.user-lv-108 {
  background: url(http://r.plures.net/pt/images/common/lv108.gif);
}

.user-lv-109 {
  background: url(http://r.plures.net/pt/images/common/lv109.gif);
}

.user-lv-110 {
  background: url(http://r.plures.net/pt/images/common/lv110.gif);
}

.user-lv-111 {
  background: url(http://r.plures.net/pt/images/common/lv111.gif);
}

.user-lv-112 {
  background: url(http://r.plures.net/pt/images/common/lv112.gif);
}

.user-lv-113 {
  background: url(http://r.plures.net/pt/images/common/lv113.gif);
}

.user-lv-114 {
  background: url(http://r.plures.net/pt/images/common/lv114.gif);
}

.user-lv-115 {
  background: url(http://r.plures.net/pt/images/common/lv115.gif);
}

.user-lv-116 {
  background: url(http://r.plures.net/pt/images/common/lv116.gif);
}

.user-lv-117 {
  background: url(http://r.plures.net/pt/images/common/lv117.gif);
}

.user-lv-118 {
  background: url(http://r.plures.net/pt/images/common/lv118.gif);
}

.user-lv-119 {
  background: url(http://r.plures.net/pt/images/common/lv119.gif);
}

.user-lv-120 {
  background: url(http://r.plures.net/pt/images/common/lv120.gif);
}

.user-lv-121 {
  background: url(http://r.plures.net/pt/images/common/lv121.gif);
}

.user-lv-122 {
  background: url(http://r.plures.net/pt/images/common/lv122.gif);
}

.user-lv-123 {
  background: url(http://r.plures.net/pt/images/common/lv123.gif);
}

.user-lv-124 {
  background: url(http://r.plures.net/pt/images/common/lv124.gif);
}

.user-lv-125 {
  background: url(http://r.plures.net/pt/images/common/lv125.gif);
}

.user-lv-126 {
  background: url(http://r.plures.net/pt/images/common/lv126.gif);
}

.user-lv-127 {
  background: url(http://r.plures.net/pt/images/common/lv127.gif);
}

.user-lv-128 {
  background: url(http://r.plures.net/pt/images/common/lv128.gif);
}

.user-lv-129 {
  background: url(http://r.plures.net/pt/images/common/lv129.gif);
}

.user-lv-130 {
  background: url(http://r.plures.net/pt/images/common/lv130.gif);
}

.user-lv-131 {
  background: url(http://r.plures.net/pt/images/common/lv131.gif);
}

.user-lv-132 {
  background: url(http://r.plures.net/pt/images/common/lv132.gif);
}

.user-lv-133 {
  background: url(http://r.plures.net/pt/images/common/lv133.gif);
}

.user-lv-134 {
  background: url(http://r.plures.net/pt/images/common/lv134.gif);
}

.user-lv-135 {
  background: url(http://r.plures.net/pt/images/common/lv135.gif);
}

.user-lv-136 {
  background: url(http://r.plures.net/pt/images/common/lv136.gif);
}

.user-lv-137 {
  background: url(http://r.plures.net/pt/images/common/lv137.gif);
}

.user-lv-138 {
  background: url(http://r.plures.net/pt/images/common/lv138.gif);
}

.user-lv-139 {
  background: url(http://r.plures.net/pt/images/common/lv139.gif);
}

.user-lv-140 {
  background: url(http://r.plures.net/pt/images/common/lv140.gif);
}

.user-lv-141 {
  background: url(http://r.plures.net/pt/images/common/lv141.gif);
}

.user-lv-142 {
  background: url(http://r.plures.net/pt/images/common/lv142.gif);
}

.user-lv-143 {
  background: url(http://r.plures.net/pt/images/common/lv143.gif);
}

.user-lv-144 {
  background: url(http://r.plures.net/pt/images/common/lv144.gif);
}

.user-lv-145 {
  background: url(http://r.plures.net/pt/images/common/lv145.gif);
}

.user-lv-146 {
  background: url(http://r.plures.net/pt/images/common/lv146.gif);
}

.user-lv-147 {
  background: url(http://r.plures.net/pt/images/common/lv147.gif);
}

.user-lv-148 {
  background: url(http://r.plures.net/pt/images/common/lv148.gif);
}

.user-lv-149 {
  background: url(http://r.plures.net/pt/images/common/lv149.gif);
}

.user-lv-150 {
  background: url(http://r.plures.net/pt/images/common/lv150.gif);
}

.user-lv-90,
.user-lv-91,
.user-lv-92,
.user-lv-93,
.user-lv-94,
.user-lv-95,
.user-lv-96,
.user-lv-97,
.user-lv-98,
.user-lv-99,
.user-lv-100,
.user-lv-101,
.user-lv-102,
.user-lv-103,
.user-lv-104,
.user-lv-105,
.user-lv-106,
.user-lv-107,
.user-lv-108,
.user-lv-109,
.user-lv-110,
.user-lv-111,
.user-lv-112,
.user-lv-113,
.user-lv-114,
.user-lv-115,
.user-lv-116,
.user-lv-117,
.user-lv-118,
.user-lv-119,
.user-lv-120,
.user-lv-121,
.user-lv-122,
.user-lv-123,
.user-lv-124,
.user-lv-125,
.user-lv-126,
.user-lv-127,
.user-lv-128,
.user-lv-129,
.user-lv-130,
.user-lv-131,
.user-lv-132,
.user-lv-133,
.user-lv-134,
.user-lv-135,
.user-lv-136,
.user-lv-137,
.user-lv-138,
.user-lv-139,
.user-lv-140,
.user-lv-141,
.user-lv-142,
.user-lv-143,
.user-lv-144,
.user-lv-145,
.user-lv-146,
.user-lv-147,
.user-lv-148,
.user-lv-149,
.user-lv-150 {
  background-size: 36px 16px;
}

