*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
input {
  font-family: Helvetica;
}

body {
  background: #ebebeb;
  width: auto;
}

.recharge-btn {
  background: #ff7e00;
  color: #fff;
  text-align: center;
  display: block;
  margin: 25px auto;
  width: 90%;
  border: 0;
  height: 100px;
  line-height: 100px;
  font-size: 32px;
  border-radius: 10px;
  border:0;
}