.top-nav {
  width: 640px;
  position: fixed;
  top: 88px;
  height: 79px;
  background: #fff;
  z-index: 50;
  display: flex;
  border-bottom: 1px solid #e8e9ed;
}

.top-nav-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}

.top-nav-item:first-child {
  margin-left: 20px;
}

.top-nav-item:last-child {
  margin-right: 20px;
}

.top-nav-item-txt {
  flex: 0;
  display: block;
  width: 80px;
  height: 76px;
  align-content: center;
  text-align: center;
  line-height: 80px;
  border-bottom: 4px solid transparent;
  font-size: 28px;
  letter-spacing: 0px;
  color: #2d3c4e;
}

.top-nav-item-txt-select {
  font-size: 28px;
  color: #ff7e00;
  letter-spacing: 0px;
  line-height: 80px;
  text-align: center;
  border-color: #ff7e00;
}