$white=    #fff;
$gray-100= #f8f9fa;
$gray-200= #e9ecef;
$gray-300= #dee2e6;
$gray-400= #ced4da;
$gray-500= #adb5bd;
$gray-600= #868e96;
$gray-700= #495057;
$gray-800= #343a40;
$gray-900= #212529;
$black=    #000;

$enable-rounded=            true;

$font-family-base = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$body-bg=                   $white;
$body-color=                $gray-900;

$link-color=                #333;
$link-decoration=           none;
$link-hover-color=          darken($link-color, 15%);
$link-hover-decoration=     underline;

$font-size-base=              24px;
$font-weight-base=            400;
$line-height-base=            1.5;

$table-cell-padding=          .75rem;
$text-muted=                  $gray-600;

$font-weight-bold=            700;
$dt-font-weight=              $font-weight-bold;