.videoplayer {
  padding-top: 88px;
  padding-bottom: 100px;
  width: 640px;
  height: 360px;
  position: relative;
}

.video-div {
  height: 360px;
  width: 640px;
  font-size: 12px;
}
.blCenter{
  height: 360px !important;
  width: 640px !important;;
}
.video-iframe{
  padding-bottom: 100px;
  width: 640px;
  height: 360px;
}

.videoplayer video.watchDirections {
  width: 220px;
  margin: 0 auto;
}

.description {
  height: 360px;
  width: 640px;
  position: relative;
}

.description .isbroadcast-img {
  width: 640px;
  height: 360px;
}

.description.suipai-bg {
  background: url("../images/suipai_bg.png") no-repeat;
  background-size: 100%;
}

.description-bg {
  margin-top: 88px;
  height: 360px;
  width: 640px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../images/suipai_bg.png") no-repeat;
  background-size: 100%;
}

.description-bg .description-footer {
  text-align: center;
  height: 68px;
  width: 640px;
  background: rgba(0, 0, 0, 0.50);
  position: absolute;
  bottom: 0px;
  ;
  left: 0;
  font-size: 24px;
  color: #ffffff;
  line-height: 68px;
}

.description .description-head {
  width: 640px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.description .description-head .img_title {
  float: left;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 16px 0 16px 10px;
  background: url("../images/img_title.png") no-repeat;
  background-size: 100%;
}

.description .description-head .description-head-title {
  float: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 582px;
  line-height: 80px;
  font-size: 28px;
  color: #ffffff;
}

.description .description-footer {
  text-align: center;
  height: 68px;
  width: 640px;
  background: rgba(0, 0, 0, 0.50);
  position: absolute;
  bottom: 0px;
  ;
  left: 0;
  font-size: 24px;
  color: #ffffff;
  line-height: 68px;
  z-index: 2;
}

.videoplayer .player {
  width: 120px;
  height: 120px;
  margin-top: -56px;
  margin-left: -60px;
  background: url("../images/btn_play.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.noplayer {
  text-align: center;
  width: 280px;
  height: 68px;
  background-size: 100%;
  position: absolute;
  top: 255px;
  left: 50%;
  z-index: 2;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  line-height: 68px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 100px;
}

.author-information {
  bottom: 0;
  background: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 100px;
  width: 640px;
  position: absolute;
}

.author-information .author-head {
  float: left;
  margin: 10px 10px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #ccc;
  border-radius: 50%;
}

.author-information .author-head img {
  width: 100%;
  border-radius: 50%;
}

.author-information .author-name-hot {
  float: left;
  margin: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 330px;
  height: 80px;
  font-size: 28px;
  line-height: 50px;
}

.author-information .author-name-hot span {
  font-size: 28px;
  color: #2d3c4e;
  line-height: 50px;
}

.author-information .author-name-hot .hotNum i {
  float: left;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url('../../../commons/images/sprite-figure.png');
  background-position: -350px 210px;
  background-size: 500px 545px;
}

.author-information .author-name-hot .hotNum span {
  float: left;
  display: inline-block;
  font-size: 22px;
  color: #6c7683;
  line-height: 30px;
  text-align: left;
}

.author-information .app-download {
  display: block;
  margin: 10px 10px;
  float: right;
  width: 180px;
  height: 80px;
  background: url("../images/btn_download.png") no-repeat;
  background-size: contain;
}

.video-mask {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 640px;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 200;
  display: none;
}

.video-mask2 {
  display: none;
  z-index: 200;
}

.video-mask2 .mask-close {
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 26px;
  height: 30px;
  background: url("../images/close.png") no-repeat;
  background-size: contain;
  z-index: 201;
}

.video-mask2 .wenzi1 {
  position: absolute;
  /*top: 571px;*/
  bottom: 491px;
  left: 176px;
  width: 284px;
  height: 73px;
  background: url("../images/wenzi1.png") no-repeat;
  background-size: contain;
  z-index: 200;
}

.video-mask2 .biaozhi {
  position: absolute;
  /*top: 716px;*/
  bottom: 323px;
  left: 267px;
  margin: 0 auto;
  width: 102px;
  height: 102px;
  background: url("../images/biaozhi.png") no-repeat;
  background-size: contain;
  z-index: 200;
}

.video-mask2 .download {
  display: block;
  position: absolute;
  /*top: 860px;*/
  bottom: 203px;
  left: 105px;
  margin: 0 auto;
  width: 452px;
  height: 99px;
  background: url("../images/download.png") no-repeat;
  background-size: contain;
  z-index: 200;
}

.video-mask2 .wenzi2 {
  position: absolute;
  /*top: 966px;*/
  bottom: 146px;
  left: 83px;
  margin: 0 auto;
  width: 480px;
  height: 32px;
  background: url("../images/wenzi2.png") no-repeat;
  background-size: contain;
  z-index: 200;
}

.video-mask2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 640px;
  height: 189px;
  background: url("../images/bottom.png") no-repeat;
  background-size: contain;
  z-index: 200;
}

.maskShow {
  display: block;
}
.video-mask2 .download2 {
  display: block;
  position: absolute;
  /*top: 860px;*/
  bottom:60px;
  left: 125px;
  margin: 0 auto;
  width: 380px;
  height: 100px;
  background: url("../images/download2.png") no-repeat;
  background-size: contain;
  z-index: 200;
}
.video-mask2 .guozu-bg{
  position: absolute;
  bottom: 130px;
  width: 640px;
  height: 740px;
  background: url("../images/img_ad.png") no-repeat;
  background-size: contain;
  z-index: 200;
}